# 正在开发



# 闭源内容

Awtrix Finally.pcbdoc

# 无关内容

/index.html
/Desktop.ini

# 编译垃圾

out/
obj/

Lst/
Obj/

OUT/
OBJ/
Objects/
Listings/
DebugConfig/

old/

*.POMIN
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.o
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.tra
*.dep
*.iex
*.htm
*.sct
*.map
